In [1]:
import pandas as pd
import csv 
from collections import Counter
import numpy as np
from datetime import datetime
import time

In [4]:
df_sup = pd.read_csv("support_tickets_sep15-dec15.csv", encoding="windows-1251", sep = ";")
df_sup.head(2)

,user_id,ticket_category,ticket_subcategory,activity_start,fact_reaction,current_state,request_id
0,7372500022,Блокировки и отклонения,Заблокированное объявление,02.11.2015 8:37,03.11.2015 3:43,Решено,65b9038c-c877-40b6-b583-03d06e9911b9
1,2051809,Работа с объявлениями и личным кабинетом,Подача объявления,24.11.2015 10:49,25.11.2015 13:07,Решено,f2fbd349-b2a8-47db-bb12-79520cb7092d

In [9]:
df_mark = pd.read_csv("Users_evaluation_of_satisfaction.csv", encoding="windows-1251", sep = ",")
df_mark.head(2)

                             request_ID result_mentioned_by_user  mark_values
0  09e34912-b4df-4e91-b3e0-35b40fe6b9b8     Не удовлетворительно            2
1  76099bef-7ab3-4a01-96c3-4c06f4032a7e     Не удовлетворительно            2

In [10]:
dict_mark = {}
for _, row in df_mark.iterrows():
    ID = row["request_ID"]
    res = row["mark_values"]
    dict_mark[ID] = res
    

dict[1{id: 2}

In [2]:
dict1 = {1:'a', 2:'b'}
dict1[1]

'a'

In [9]:
df_sup["mark"] = np.nan
def dict_mark_not(x):
    if x in dict_mark: 
        y = dict_mark[x]
    else:
        y = np.nan
    return y
df_sup.mark = df_sup.request_id.apply(lambda x: dict_mark_not(x))

In [11]:
df_sup['activity_start_time'] = df_sup.activity_start.apply(lambda x: time.mktime(datetime.strptime(x, "%d.%m.%Y %H:%M").timetuple()))
TimeAll_fact = []
for t in df_sup.fact_reaction:
    try:
        if len(t.split(" ")[1])>5:
            t = t[:-3]
        t = t.replace("-", ".")
        t = t.replace("0001", "2016")
        d = datetime.strptime(t, "%d.%m.%Y %H:%M")
        TimeAll_fact.append(time.mktime(d.timetuple()))
    except Exception:
        print(t)
    

df_sup['fact_reaction_time'] = TimeAll_fact

In [12]:
df_sup = df_sup.sort_values(['activity_start'], ascending=True).fillna(0)

In [13]:
df_sup.head(2)

,user_id,ticket_category,ticket_subcategory,activity_start,fact_reaction,current_state,request_id,activity_start_time,fact_reaction_time
243217,147134000021,Технические вопросы,Доступ к сайту,01.09.2015 0:00,01.09.2015 14:25,Решено,7a572122-eee7-487b-ae8e-46c131a1f293,1.441055e+09,1.441107e+09
125656,372769871,Работа с объявлениями и личным кабинетом,Удаление учетной записи,01.09.2015 0:00,01.09.2015 0:39,Решено,6de7d6b3-ce60-45f1-8144-17a4fb913a5e,1.441055e+09,1.441057e+09

In [14]:
df_sup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 415005 entries, 243217 to 224531
Data columns (total 9 columns):
user_id                415005 non-null int64
ticket_category        415005 non-null object
ticket_subcategory     415005 non-null object
activity_start         415005 non-null object
fact_reaction          415005 non-null object
current_state          415005 non-null object
request_id             415005 non-null object
activity_start_time    415005 non-null float64
fact_reaction_time     415005 non-null float64
dtypes: float64(2), int64(1), object(6)
memory usage: 31.7+ MB

In [18]:
df_sup.to_csv("support_tickets.csv", index=False)

### Items_df

In [61]:
df1 = pd.read_csv("df1.csv", encoding="windows-1251")
df1.head(2)

,user_id,user_registration_time,user_first_listing_date,item_id,item_starttime,item_category,item_subcategory
0,44,2008-02-15 00:46:47,2008-07-23 17:11:18,275074000507,2016-03-15 19:00:26,Хобби и отдых,Книги и журналы
1,44,2008-02-15 00:46:47,2008-07-23 17:11:18,238367001948,2015-12-10 14:29:48,Для дома и дачи,Мебель и интерьер

In [24]:
df2 = pd.read_csv("df2.csv", encoding="windows-1251")
df2.head(2)

,user_id,user_registration_time,user_first_listing_date,item_id,item_starttime,item_category,item_subcategory
0,3252891,2011-02-03 09:47:15,2011-02-03 09:47:15,227974750586,2015-11-09 20:12:20,Недвижимость,Квартиры
1,3252891,2011-02-03 09:47:15,2011-02-03 09:47:15,200143000057,2015-09-03 08:57:38,Недвижимость,Квартиры

In [25]:
df3 = pd.read_csv("df3.csv", encoding="windows-1251")
df3.head(2)

,user_id,user_registration_time,user_first_listing_date,item_id,item_starttime,item_category,item_subcategory
0,24206250072,2014-06-02 08:49:46,2014-06-02 08:56:33,83915500591,2014-12-16 14:22:37,Работа,Вакансии
1,24206250072,2014-06-02 08:49:46,2014-06-02 08:56:33,30965500127,2014-06-24 11:21:36,Работа,Вакансии

In [73]:
df1.user_first_listing_date = df1.user_first_listing_date.apply(lambda x: str(x))
df1.item_starttime = df1.item_starttime.apply(lambda x: str(x))

In [27]:
df2.user_first_listing_date = df2.user_first_listing_date.apply(lambda x: str(x))
df2.item_starttime = df2.item_starttime.apply(lambda x: str(x))

In [28]:
df3.user_first_listing_date = df3.user_first_listing_date.apply(lambda x: str(x))
df3.item_starttime = df3.item_starttime.apply(lambda x: str(x))

In [64]:
def date_change(date):
    list1 = date.split(" ")[0].split("-")
    year = list1[0]
    month = list1[1]
    day = list1[2]
    data_new_list1 = [day, month, year]
    data_new1 = ".".join(data_new_list1)
    data_new_list2 = [data_new1, date.split(" ")[1]]
    data_new = " ".join(data_new_list2)
    return(data_new)
    
date = "2014-06-02 08:49:46"  
date_change(date)

'02.06.2014 08:49:46'

In [69]:
def time_t(t):
    if t != "nan":
        time_t = date_change(t)
        time_t = time.mktime(datetime.strptime(time_t, "%d.%m.%Y %H:%M:%S").timetuple())
        return(time_t)
    return(np.nan)

1321096957.0

In [74]:
df1["time_items"] = df1.item_starttime.apply(lambda x: time_t(x))
df1["time_first_items"] = df1.user_first_listing_date.apply(lambda x: time_t(x))

In [75]:
df2["time_items"] = df2.item_starttime.apply(lambda x: time_t(x))
df2["time_first_items"] = df2.user_first_listing_date.apply(lambda x: time_t(x))

In [76]:
df3["time_items"] = df3.item_starttime.apply(lambda x: time_t(x))
df3["time_first_items"] = df3.user_first_listing_date.apply(lambda x: time_t(x))

In [81]:
df1.to_csv("df1_new.csv", index = False)
df2.to_csv("df2_new.csv", index = False)
df3.to_csv("df3_new.csv", index = False)

### tran_df

In [79]:
df_tran = pd.read_csv("paid_transaction_by_support_users.csv", encoding="ISO-8859-1", sep = ';')
df_tran.head(2)

     user_id       item_id             pay_time transaction_type   revenue
0  364762056  1.572400e+10  2014-03-29 20:11:46              VAS  3.434783
1  364762056  1.387125e+10  2014-03-29 20:14:03              VAS  1.695652

In [80]:
df_tran["time_pay"] = df_tran.pay_time.apply(lambda x: time_t(x))
df_tran.head()

,user_id,item_id,pay_time,transaction_type,revenue,time_pay
0,364762056,1.572400e+10,2014-03-29 20:11:46,VAS,3.434783,1.396113e+09
1,364762056,1.387125e+10,2014-03-29 20:14:03,VAS,1.695652,1.396113e+09
2,364762056,1.804950e+10,2014-04-19 14:01:31,VAS,4.304348,1.397905e+09
3,364762056,2.049775e+10,2014-05-13 12:44:47,VAS,2.565217,1.399974e+09
4,364762056,1.804950e+10,2014-05-18 17:12:34,VAS,3.000000,1.400422e+09

In [82]:
df_tran.to_csv("transaction.csv", index = False)